*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #2c2c2c;
  color: #fff
}
a{
  text-decoration: none;
  color: #f7d354;
  transition: 0.3s;
}


a:hover{
  color: #b8935c;
}